body{
  background-color: #EEF0EB;
}

header h1{
  background-color: #284B63;
  color:#ffffff;
  font-family: Courier New, serif;
  font-size: 50px;
  text-align: center;
}

h2{
  color:#153243;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3{
  color: #153243;
  font-size: 30px;
  text-align: center;
}

main{
  background-color: #EEF0EB;
  text-align: center;
  color: #344827;
}

footer{
  background-color: #284B63;
  text-align: center;
  color: #ffffff;
}

p{
  font-size: 16px;
}


.wrapper {
  width: 500px;
  margin: auto;
}

.list-inside li {
  list-style-position: inside;
}

a {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

a:link    { color: #736372; }
a:visited { color: #AAC0AA; }
a:hover   { color: #DCEED1; }
a:active  { color: #DCEED1; }
