body{
  background-color: #EEF0EB;
}

header h1{
  background-color: #284B63;
  color:#ffffff;
  font-family: Courier New, serif;
  font-size: 50px;
  text-align: center;
}

h2{
  color:#153243;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3{
  color: #284B63;
  font-size: 30px;
  text-align: center;
}

main{
  background-color: #EEF0EB;
  text-align: center;
  color: #000000;
}

article{
  border: 2px solid #284B63;
}

section{
  border: 2px solid #B4B8AB;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

footer{
  background-color: #284B63;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}

p{
  font-size: 16px;
}

hr{
  height: 4px;
  border: 2px solid #B4B8AB;
  background-color: #B4B8AB;
  margin-top: 10px;
  margin-bottom: 10px;
}

.wrapper{
  width: 500px;
  margin: auto;
}

.align-center{
  text-align: center;
}

.list-inside{
  list-style-position: inside;
}

.list-item{
  text-align: left;
}

ul{
  display: table;
  margin: 0 auto;
}

ol{
  display: table;
  margin: 0 auto;
}

a{
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

a:link    { color: #284B63; }
a:visited { color: #000000; }
a:hover   { color: #B4B8AB; }
a:active  { color: #F4F9E9; }
